<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Id</th>
        <th scope="col">Title</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <th scope="row">{{todo.id}}</th>
        <td>{{todo.userId}}</td>
        <td>{{todo.title}}</td>
        <td *ngIf="todo.completed == true"> <button class="btn btn-success">{{todo.completed}}</button></td>
        <td *ngIf="todo.completed == false"> <button class="btn btn-danger">{{todo.completed}}</button></td>
      </tr>
     
    </tbody>
  </table>
